<nav>
  <div class="nav-wrapper red darken-4">
    <a href="/" class="brand-logo">Devins Restaurant</a>
    <ul id="nav-mobile" class="right">
      <li><a href="/order">My Order</a></li>
      <li><a href="/order/new">View Order</a></li>
    </ul>
  </div>
</nav>
