<h1 class="center">Add Food To Your Order</h1>
<form method="POST" action="/order">
  <div class="input-field">
    <input id="title" required name="title" />
    <label class="active" for="title">Food</label>
  </div>
  <div class="input-field">
    <textarea class="materialize-textarea" id="description" name="description"></textarea>
    <label for="desc" class="active">Extra instructions</label>
  </div>
  <button class="btn right red darken-4">Add To Order</button>
</form>
